.fon
{
background-image:url("photografi/fon.jpg") ;
background-repeat: no-repeat;
background-size: cover;
}
.com
{
size: 200;
}

.com1{
     color: aqua;
}
.div1{
    size: 200;
}
.photo
{
    height: 250px;
    width: 300px;
}
.red
{
    background: red;
}
.blue
{
    background: blue;
}
.bob1
{
    color: chocolate;
}
#test {
    width: 100px;
    background: #dfdfdf;
    padding: 5px;
    cursor: pointer;
  }
  
#menu {
    display: none;
    margin-top: 10px;
    width: 150px;
    height: 150px;
    background: #d3d3d3;
  }


